# Python bytecode and cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model files
*.csv
*.xlsx
*.pkl
*.zip
*.json
*.log

# Optional folders
model/
submission/

# Environments
.env
venv/
.venv/

# System files
.DS_Store
Thumbs.db